{
  "witness-service": [
  	{
  	  "name": "witness-xy",
	  "region": "",
  	  "serviceAccount": "",
  	  "kmsLocation": "",
  	  "kmsKeyRing": "",
  	  "kmsKeyId": "",
  	  "c14n": "",
  	  "verificationMethod": ""
  	}
  ]
}
