[
  {
    "id": "witness-xy",
    "type": "WitnessService",
    "region": "",
    "serviceAccount": "",
    "kmsLocation": "",
    "kmsKeyRing": "",
    "kmsKeyId": "",
    "c14n": "",
    "verificationMethod": ""
  }
]
